*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #f7f7f7;
}

body {
    background: #2a2b30;
    min-width: 870px;
}

#bloc {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-right: 2%;
}

/*-------------------- side page (icone/ menu) ---------------*/


/*---------  tete de la main page (moteur de recherche/ parametre)  ---------*/
header {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

#logo {
}

#barre {
}



.user {
    float: right;
    margin-top: 40px;
    margin-right: 10%;
}
.fa-user,
.fa-cogs,
.fa-sign-out-alt{
    font-size: 50px !important;
    color: #f7f7f7;
}
.menuParam{
    opacity: 0;
    transition: 1s opacity;
    
    padding-right: 20px;
    float: left;
    
}
.sousMenuParam1,
.sousMenuParam2{
    margin-left: 8px;
    margin-right: 8px;
}
.user:hover .menuParam {
    opacity: 1;
    transition: 1s opacity;
}



/*------------------ main page (dossiers/ abo) ---------------*/

#blocDossier {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#dossier1, #dossier2, #dossier3, #abo{
    margin: 3%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #f7f7f7;
    display: flex;
    flex-flow: row wrap;
    
    min-height: 400px;
    padding: 20px;
}

figure .fa-folder,
.fa-file{
    font-size:100px !important;
    margin-bottom: 10px;
}

figure .fa-folder{
    color: #47a3da;
}

figure{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}


/*----------------  context menu (clique droit)   ------------------
#ctxMenu{
    display:none;
    z-index:100;
}
menu {
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    height:20px;
    width:20px;
    padding:0;
    margin:0;
    border:1px solid;
    background-color:black;
    font-weight:normal;
    white-space:nowrap;
}
menu:hover{
    background-color:#47a3da;
    font-weight:bold;
}
menu:hover > menu{
    display:block;
}
menu > menu{
    display:none;
    position:relative;
    top:-20px;
    left:100%;
    width:55px;
}
menu[title]:before{
    content:attr(title);
}
menu:not([title]):before{
    content:"\2630";
}*/


