*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #f7f7f7;
}

body {
    background: #2a2b30;
    min-width: 870px;
}

#bloc {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-right: 2%;
}

/*-------------------- side page (icone/ menu) ---------------*/


/*---------  tete de la main page (moteur de recherche/ parametre)  ---------*/
header {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

#logo {
}

#barre {
}



.user {
    float: right;
    margin-top: 40px;
    margin-right: 10%;
}
.fa-user,
.fa-cogs,
.fa-sign-out-alt{
    font-size: 50px !important;
    color: #f7f7f7;
}
.menuParam{
    opacity: 0;
    transition: 1s opacity;
    
    padding-right: 20px;
    float: left;
    
}
.sousMenuParam1,
.sousMenuParam2{
    margin-left: 8px;
    margin-right: 8px;
}
.user:hover .menuParam {
    opacity: 1;
    transition: 1s opacity;
}



/*------------------ main page (dossiers/ abo) ---------------*/

#blocDossier {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#dossier1, #dossier2, #dossier3, #abo{
    margin: 3%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #f7f7f7;
    display: flex;
    flex-flow: row wrap;
    
    min-height: 400px;
    padding: 20px;
}

figure .fa-folder,
.fa-file{
    font-size:100px !important;
    margin-bottom: 10px;
}

figure .fa-folder{
    color: #47a3da;
}

figure{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}



