@font-face {
	font-family: 'ecoico';
	src:url('../fonts/ecoico.eot');
	src:url('../fonts/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ecoico.woff') format('woff'),
		url('../fonts/ecoico.ttf') format('truetype'),
		url('../fonts/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
}

.menu {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
}

.menu li a {
	display: block;
	height: 5em;
	width: 6em;
	line-height: 5em;
	text-align: center;
	color: #f7f7f7;
	position: relative;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
}
.menu li {
	margin-top: 20px;
}

.menu li a:hover,
.menu li:first-child a{
	background-color: #47a3da;
}

.menu li:first-child a{
	background-color: #f7f7f7;
}

.icon-logo img {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 150px;
    max-width: 100px;
}

/* class for current item*/
.menu li.current a {
	background: #f7f7f7;
	color: #47a3da;
}

/*---------------- icone menu  ---------*/
.fa-folder,
.fa-users,
.fa-globe-asia,
.fa-star,
.fa-paper-plane,
.fa-trash-alt{
	font-size:60px !important;
	margin-top: 10px;
    color:#47a3da !important;
}
.fa-folder:hover, 
.fa-users:hover,
.fa-globe-asia:hover,
.fa-star:hover,
.fa-paper-plane:hover,
.fa-trash-alt:hover{
	color: #f7f7f7 !important;
}

/* Example for media query (depends on total height of menu)
@media screen and (max-height: 34.9375em) { 

	.menu {
		font-size: 70%;
	}

}
*/